.main{
  display: flex;
}

.header {
  display: flex;
  gap: 3rem;
  margin: 3rem auto;
  width: 90%;
  max-width: 75rem;
}

.slideshow {
  width: 40rem;
  height: 25rem;
}

.hero {
  color: #ddd6cb;
  font-size: 1.5rem;
  margin-top: 4rem;
  padding: 1rem;
}

.hero h1 {
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  background: linear-gradient(90deg, #43d8c9, #3ee4ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cta a {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  background: linear-gradient(90deg, #43d8c9, #3ee4ff); /* Changed to shades of green and cyan */
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

.cta a:hover,
.cta a:active {
  background: linear-gradient(90deg, #14e0ff, #3ee4ff); 
}

.cta a:first-child {
  background: transparent;
  font-weight: normal;
  color: #3ee4ff;
  padding-left: 0;
}

.cta a:first-child:hover,
.cta a:first-child:active {
  background: transparent;
  color: #14e0ff; 
}

.section {
  display: flex;
  flex-direction: column;
  color: #ddd6cb;
  font-size: 1.5rem;
  max-width: 50rem;
  width: 90%;
  margin: 2rem auto;
  text-align: center;
}

.row{
  flex-direction: row;
}

.cta1:hover{
  scale: 1.1;
}